<section class="service">
    <div class="service__container">
        <h2 class="service__title">Services</h2>
        <div class="service__left">
            <div class="service__first-column">
                
                    <h5 class="service__subtitle">Lorem ipsum</h5>
                    <ul class="service__list">
                        <li class="service__list-item">Lorem</li>
                        <li class="service__list-item">Lorem</li>
                        <li class="service__list-item">Lorem</li>
                        <li class="service__list-item">Lorem</li>
                    </ul>
                
            </div>
            <div class="service__second-column">
                <div class="service__block">
                    <h3 class="service__block-title service__block-title_first">Lorem</h3>
                    <div class="service__block-wrap">
                        <div class="service__block-column">
                            <p class="service__block-text service__block-text_short">Ipsum</p>
                        </div>
                        <div class="service__block-column">
                            <p class="service__block-text service__block-text_short">Ipsum</p>
                        </div>
                    </div>

                </div>
                <div class="service__block">
                    <h3 class="service__block-title service__block-title_second">Lorem</h3>
                    <div class="service__block-wrap">
                        <div class="service__block-column">
                            <p class="service__block-text service__block-text service__block-text_short1">Ipsum</p>
                        </div>
                        <div class="service__block-column">
                            <p class="service__block-text service__block-text service__block-text_short1">Ipsum</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="service__picture-block">
        <img src="media/picture/leads-amico.svg" alt="picture" class="service__picture">
    </div>
</section>