<section class="partners">
    <div class="partners__wrap">
        <h2 class="partners__title">
            our exclusive partners
        </h2>
        <div class="partners__block">
            <div class="partners__block-item">
                <img class="partners__block-icon partners__block-icon_first" src="media/icon/sync.svg" alt="icon">
            </div>
            <div class="partners__block-container">
                <div class="partners__block-item">
                    <img class="partners__block-icon" src="media/icon/influence.svg" alt="icon">
                </div>
                <div class="partners__block-item">
                    <img class="partners__block-icon" src="media/icon/coding.svg" alt="icon">
                </div>
            </div>
        </div>
    </div>
    <img src="media/picture/deal-amico.svg" alt="picture" class="partners__image">
</section>